.navbar-brand img {
    max-height: 30px;
    margin-top: -7px;
}

.directory-index {
    margin-top: 70px;
}

.directory-index .row {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 5px;
}

.directory-index .row:first-child {
    border-top: 1px solid #ccc;
}

.directory-index .row:hover {
    background-color: #eee;
}

